#charityPage{
	padding:0;
	overflow:hidden;	
}
.page-content{
	padding:20px;
overflow:hidden;	
}
.page-content ul#charity-info{
	overflow:hidden;
	width:95%;
	padding:20px;
	clear:both;
}
.page-content ul#charity-info li{
	margin-top:30px;
	overflow:hidden;
	background1:green;
	display:block;
	clear:both;
	float:left;
}
.page-content ul#charity-info li.first{
	margin-top:0px;
}
.page-content ul#charity-info li .charity-intro{
	background1:yellow;
	clear:both;	
	margin-top:10px;
	float:left;
	display:block;
}
.page-content ul#charity-info li img{
	display:block;
	clear:both;	
	margin:10px 0;
	float:left;
}
.page-content ul#charity-info li a{
	clear:both;	
	background1:yellow;
	margin:5px 0;
	float:left;
	display:block;
}
